body {
    font-family: Arial, sans-serif;
    background-color: #c9f8c0;
    text-align: center;
    margin-top: 50px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: rgb(128, 129, 128);
    padding: 20px;
    box-shadow: 10 10 50px rgba(255, 0, 0, 0.1);
    border-radius: 30px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
